---
layout: info
---

This project has been created for three main reasons:

-   I wanted to create some space for
    micro-blogging/note-sharing - something more involved than writing a thread on [Twitter](https://twitter.com/k_cieslak), but
    without an expectation of creating a nicely redacted, "real" articles as in case of things I used
    to publish on the [blog](http://kcieslak.io)/[medium](https://medium.com/@k_cieslak)... for which I never have enough time.

-   I've always wanted to play with some of my ideas for improving the UX of the blogs focused on coding; I guess this is space as good as any other for experimenting with those ideas.

-   I wanted to play with a few technologies that I've never used before but which sounded interesting in theory:

            * [Svelte](https://svelte.dev/)
            * [SvelteKit](https://kit.svelte.dev/)
            * [MDX](https://mdxjs.com/)
            * [utterances](https://utteranc.es/)
